@import url(https://fonts.googleapis.com/css?family=Satisfy);


@import url(http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


.header {
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Satisfy', cursive;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-weight: bold;
}
.buttons {
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    color: white;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    font-size: 75px;   
}

.buttonposition{
    position: relative;
    text-align: center;
    bottom: -100px;
}
